<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>Startups México | Repositorio de Startups Mexicanas</title>
    <meta name="description" content="Primer repositorio de startups hechas en México">

    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Startups México | Repositorio de Startups Mexicanas">
    <meta itemprop="description" content="Primer repositorio de startups hechas en México">
    <meta itemprop="image" content="http://startupsmx.com/cover.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://startupsmx.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Startups México | Repositorio de Startups Mexicanas">
    <meta property="og:description" content="Primer repositorio de startups hechas en México">
    <meta property="og:image" content="http://startupsmx.com/cover.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Startups México | Repositorio de Startups Mexicanas">
    <meta name="twitter:description" content="Primer repositorio de startups hechas en México">
    <meta name="twitter:image" content="http://startupsmx.com/cover.png">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Poppins:400,700,900" rel="stylesheet">

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118939261-1');
    </script>

  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <h2 class="logo">startupsmx &#x1F1F2;&#x1F1FD;</h2>
        <a class="button" target="_blank" href="https://goo.gl/forms/WsaL6xdI32BE2HZA3">Agregar Startup ✏️</a>
      </div>
    </header>
    <section class="hero">
      <div class="container">
        <h1>Repositorio de Startups hechas en México.</h1>
      </div>
    </section>
    <div id="app">
      <nav class="categories-nav">
        <div class="container">
          <a v-on:click="filter" ref="link" class="categories-nav__link" href="#">💸 Fintech</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">📈 Cryptocurrency</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">⚙️ IoT</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">💊 Salud</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">💰 Crowdfunding</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">💵 Préstamos</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">💳 Pagos</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">👥 Marketplace</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">🛒 E-commerce</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">🚚 Envios</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">🚗Movilidad</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">✂️ SaaS</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">📹 Media</a>
          <a v-on:click="filter" class="categories-nav__link" href="javascript:void(0)">🎓 Educación</a>
        </div>
      </nav>
      <section class="startups-cards">
        <article v-for="item in items" class="startup-card" data-categories="item['category']">
          <div class="startup-card__image">
            <img :src="item['fields']['Logo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Logo']" width="150">
          </div>
          <div class="startup-card__information">
            <h3 class="startup-card__title">{{ item['fields']['Name'] }}</h3>
            <p class="startup-card__desc">{{ item['fields']['Description'] }}</p>
            <ul class="startup-card__categories">
              <span v-for="category in item['fields']['Category']" class="tag">{{ category }}<span>
            </ul>
          </div>
          <a class="startup-card__view-more" v-bind:href="item['fields']['Url'] + '?ref=startupsmx'" target="_blank">Ver Startup ↗</a>          
        </article>     
      </section>
      <footer class="banner" v-if="isActive">
        <div class="container">
          <p class="banner__content">&#x1F6A7; Proyecto en construcción. ¿Quieres ayudarme a mejorar Startup MX? Contáctame &#x1F449;<a href="http://twitter.com/eldelentes">@eldelentes</a></p>
          <button class="banner__close" v-on:click="isActive = !isActive">Cerrar</button>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script type="text/javascript" src="app.min.js"></script>
  </body>
</html>